In [54]:
import numpy as np
import matplotlib.pyplot as plt

In [55]:
import pandas as pd

#Searching for categorical dataset

In [56]:
import plotly.express as px

In [57]:
iris =px.data.iris()

In [58]:
X=iris.drop(['species_id','species'],axis=1)
Y=iris['species_id']

In [59]:
pd.crosstab(X['petal_length'],Y)/pd.crosstab(X['petal_length'],Y).sum()

species_id       1     2     3
petal_length
1.0           0.02  0.00  0.00
1.1           0.02  0.00  0.00
1.2           0.04  0.00  0.00
1.3           0.14  0.00  0.00
1.4           0.24  0.00  0.00
1.5           0.28  0.00  0.00
1.6           0.14  0.00  0.00
1.7           0.08  0.00  0.00
1.9           0.04  0.00  0.00
3.0           0.00  0.02  0.00
3.3           0.00  0.04  0.00
3.5           0.00  0.04  0.00
3.6           0.00  0.02  0.00
3.7           0.00  0.02  0.00
3.8           0.00  0.02  0.00
3.9           0.00  0.06  0.00
4.0           0.00  0.10  0.00
4.1           0.00  0.06  0.00
4.2           0.00  0.08  0.00
4.3           0.00  0.04  0.00
4.4           0.00  0.08  0.00
4.5           0.00  0.14  0.02
4.6           0.00  0.06  0.00
4.7           0.00  0.10  0.00
4.8           0.00  0.04  0.04
4.9           0.00  0.04  0.06
5.0           0.00  0.02  0.06
5.1           0.00  0.02  0.14
5.2           0.00  0.00  0.04
5.3           0.00  0.00  0.04
5.4           0.00  0.00  0.04
5.5           0.00  0.00  0.06
5.6           0.00  0.00  0.12
5.7           0.00  0.00  0.06
5.8           0.00  0.00  0.06
5.9           0.00  0.00  0.04
6.0           0.00  0.00  0.04
6.1           0.00  0.00  0.06
6.3           0.00  0.00  0.02
6.4           0.00  0.00  0.02
6.6           0.00  0.00  0.02
6.7           0.00  0.00  0.04
6.9           0.00  0.00  0.02

In [60]:
df = pd.read_csv('/content/play_tennis (1).csv')

In [61]:
df.sample(5)

    day   outlook  temp humidity    wind play
10  D11     Sunny  Mild   Normal  Strong  Yes
5    D6      Rain  Cool   Normal  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [62]:
df=df.drop(['day'],axis=1)

In [63]:
X=df.drop(['play'],axis=1)
Y=df['play']

In [64]:
pd.crosstab(X['outlook'],Y)

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [65]:
pd.crosstab(X['outlook'],Y,normalize = 'columns')

play       No       Yes
outlook
Overcast  0.0  0.444444
Rain      0.4  0.333333
Sunny     0.6  0.222222

In [66]:
pd.crosstab(X['outlook'],Y)/pd.crosstab(X['outlook'],Y).sum()

play       No       Yes
outlook
Overcast  0.0  0.444444
Rain      0.4  0.333333
Sunny     0.6  0.222222

In [67]:
X

     outlook  temp humidity    wind
0      Sunny   Hot     High    Weak
1      Sunny   Hot     High  Strong
2   Overcast   Hot     High    Weak
3       Rain  Mild     High    Weak
4       Rain  Cool   Normal    Weak
5       Rain  Cool   Normal  Strong
6   Overcast  Cool   Normal  Strong
7      Sunny  Mild     High    Weak
8      Sunny  Cool   Normal    Weak
9       Rain  Mild   Normal    Weak
10     Sunny  Mild   Normal  Strong
11  Overcast  Mild     High  Strong
12  Overcast   Hot   Normal    Weak
13      Rain  Mild     High  Strong

In [68]:
#Agr sirf mein loop pr aise likhu
#for i,j in X:
#toh ye column pr iterate hoga
#1.outlook 2.temp 3. humidity 4.wind

#hume enumerate krna hoga
for i,x in enumerate(X.values):
      print(i,x)

0 ['Sunny' 'Hot' 'High' 'Weak']
1 ['Sunny' 'Hot' 'High' 'Strong']
2 ['Overcast' 'Hot' 'High' 'Weak']
3 ['Rain' 'Mild' 'High' 'Weak']
4 ['Rain' 'Cool' 'Normal' 'Weak']
5 ['Rain' 'Cool' 'Normal' 'Strong']
6 ['Overcast' 'Cool' 'Normal' 'Strong']
7 ['Sunny' 'Mild' 'High' 'Weak']
8 ['Sunny' 'Cool' 'Normal' 'Weak']
9 ['Rain' 'Mild' 'Normal' 'Weak']
10 ['Sunny' 'Mild' 'Normal' 'Strong']
11 ['Overcast' 'Mild' 'High' 'Strong']
12 ['Overcast' 'Hot' 'Normal' 'Weak']
13 ['Rain' 'Mild' 'High' 'Strong']

In [69]:
for i,(_,x) in enumerate(X.iterrows()):
      print(x) #sample wise printing is done

outlook     Sunny
temp          Hot
humidity     High
wind         Weak
Name: 0, dtype: object
outlook      Sunny
temp           Hot
humidity      High
wind        Strong
Name: 1, dtype: object
outlook     Overcast
temp             Hot
humidity        High
wind            Weak
Name: 2, dtype: object
outlook     Rain
temp        Mild
humidity    High
wind        Weak
Name: 3, dtype: object
outlook       Rain
temp          Cool
humidity    Normal
wind          Weak
Name: 4, dtype: object
outlook       Rain
temp          Cool
humidity    Normal
wind        Strong
Name: 5, dtype: object
outlook     Overcast
temp            Cool
humidity      Normal
wind          Strong
Name: 6, dtype: object
outlook     Sunny
temp         Mild
humidity     High
wind         Weak
Name: 7, dtype: object
outlook      Sunny
temp          Cool
humidity    Normal
wind          Weak
Name: 8, dtype: object
outlook       Rain
temp          Mild
humidity    Normal
wind          Weak
Name: 9, dtype: object
outlook      Sunny
temp          Mild
humidity    Normal
wind        Strong
Name: 10, dtype: object
outlook     Overcast
temp            Mild
humidity        High
wind          Strong
Name: 11, dtype: object
outlook     Overcast
temp             Hot
humidity      Normal
wind            Weak
Name: 12, dtype: object
outlook       Rain
temp          Mild
humidity      High
wind        Strong
Name: 13, dtype: object

In [70]:
X.columns

Index(['outlook', 'temp', 'humidity', 'wind'], dtype='object')

In [94]:
class NaiveBias:
  def __init__(self):
    pass

  def fit(self,X,Y):
    self.prob={}
    self.dummy_label = 'Yes'
    self.features = X.columns
    self.label_prob = Y.value_counts(normalize=True)
    for col in X.columns:
      self.prob[col]=pd.crosstab(X[col],Y,normalize = 'columns')
      #As we can see columns are here of text type.
    return self.prob  

  def pred(self,x):
    maxprob=0
    maxlab=""
    for lab in self.label_prob.index:
      currprob = self.label_prob[lab]
      currlab=lab

      for fet in self.features:
        p = self.prob[fet][lab][x[fet]]
        currprob = currprob*p

    
      if currprob > maxprob:
        maxprob = currprob
        maxlab = currlab
    return maxlab  





  def predict(self,X):
    y_pred = np.full(X.shape[0],self.dummy_label)
    for i,(_,x) in enumerate(X.iterrows()): #Har ek sample (instances Ke liye) usko uska column name + uska value Pass kr rhe not sirf value paas kr rhe
      print(i,x)
      lab = self.pred(x)
      y_pred[i]=lab
    
    return y_pred

In [95]:
model = NaiveBias()
prob = model.fit(X,Y)


#Jaise Yaha pr X mein categorical data hai khud se likha hua code pr train ho ja rha hai
#agr sklearn pr fit krwaye toh nhi hoga ek drwaback of sklearn

In [96]:
x=X.iloc[3]
x

outlook     Rain
temp        Mild
humidity    High
wind        Weak
Name: 3, dtype: object

In [97]:
prob['humidity']['Yes'][x['humidity']]

0.3333333333333333

In [98]:
model.predict(X)

0 outlook     Sunny
temp          Hot
humidity     High
wind         Weak
Name: 0, dtype: object
1 outlook      Sunny
temp           Hot
humidity      High
wind        Strong
Name: 1, dtype: object
2 outlook     Overcast
temp             Hot
humidity        High
wind            Weak
Name: 2, dtype: object
3 outlook     Rain
temp        Mild
humidity    High
wind        Weak
Name: 3, dtype: object
4 outlook       Rain
temp          Cool
humidity    Normal
wind          Weak
Name: 4, dtype: object
5 outlook       Rain
temp          Cool
humidity    Normal
wind        Strong
Name: 5, dtype: object
6 outlook     Overcast
temp            Cool
humidity      Normal
wind          Strong
Name: 6, dtype: object
7 outlook     Sunny
temp         Mild
humidity     High
wind         Weak
Name: 7, dtype: object
8 outlook      Sunny
temp          Cool
humidity    Normal
wind          Weak
Name: 8, dtype: object
9 outlook       Rain
temp          Mild
humidity    Normal
wind          Weak
Name: 9, dtype: object
10 outlook      Sunny
temp          Mild
humidity    Normal
wind        Strong
Name: 10, dtype: object
11 outlook     Overcast
temp            Mild
humidity        High
wind          Strong
Name: 11, dtype: object
12 outlook     Overcast
temp             Hot
humidity      Normal
wind            Weak
Name: 12, dtype: object
13 outlook       Rain
temp          Mild
humidity      High
wind        Strong
Name: 13, dtype: object

array(['No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'No'], dtype='<U3')

In [93]:
prob['wind']

play     No       Yes
wind
Strong  0.6  0.333333
Weak    0.4  0.666667

In [100]:
from sklearn.metrics import accuracy_score

accuracy_score(model.predict(X),Y)

0 outlook     Sunny
temp          Hot
humidity     High
wind         Weak
Name: 0, dtype: object
1 outlook      Sunny
temp           Hot
humidity      High
wind        Strong
Name: 1, dtype: object
2 outlook     Overcast
temp             Hot
humidity        High
wind            Weak
Name: 2, dtype: object
3 outlook     Rain
temp        Mild
humidity    High
wind        Weak
Name: 3, dtype: object
4 outlook       Rain
temp          Cool
humidity    Normal
wind          Weak
Name: 4, dtype: object
5 outlook       Rain
temp          Cool
humidity    Normal
wind        Strong
Name: 5, dtype: object
6 outlook     Overcast
temp            Cool
humidity      Normal
wind          Strong
Name: 6, dtype: object
7 outlook     Sunny
temp         Mild
humidity     High
wind         Weak
Name: 7, dtype: object
8 outlook      Sunny
temp          Cool
humidity    Normal
wind          Weak
Name: 8, dtype: object
9 outlook       Rain
temp          Mild
humidity    Normal
wind          Weak
Name: 9, dtype: object
10 outlook      Sunny
temp          Mild
humidity    Normal
wind        Strong
Name: 10, dtype: object
11 outlook     Overcast
temp            Mild
humidity        High
wind          Strong
Name: 11, dtype: object
12 outlook     Overcast
temp             Hot
humidity      Normal
wind            Weak
Name: 12, dtype: object
13 outlook       Rain
temp          Mild
humidity      High
wind        Strong
Name: 13, dtype: object

0.9285714285714286